<!doctype html>
<html lang="{{ metadata.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    <link href="{{ '/assets/plugins/global/plugins.bundle.css' }}" rel="stylesheet" type="text/css"/>
    <link href="{{ '/assets/css/style.bundle.css' }}" rel="stylesheet" type="text/css"/>
    {%- css %}{% include "public/assets/css/custom.css" %}{% endcss %}
    <style>{% getBundle "css" %}</style>

    <script>
        if (window.top != window.self) {
            window.top.location.replace(window.self.location.href);
        }
    </script>
</head>
<body id="kt_app_body" data-kt-app-header-fixed="true" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" data-kt-app-aside-enabled="true" data-kt-app-aside-fixed="true" data-kt-app-aside-push-toolbar="true" data-kt-app-aside-push-footer="true"  class="app-default" >
    <script>
        var defaultThemeMode = "light";
        var themeMode;
        if ( document.documentElement ) {
            if ( document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if ( localStorage.getItem("data-bs-theme") !== null ) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }			
            }
            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }            
    </script>
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page  flex-column flex-column-fluid" id="kt_app_page">
            <div id="kt_app_header" class="app-header d-flex flex-column flex-stack">
                {% include "header.njk" %}
            </div>
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Sidebar -->
                <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
                    {% include "sidebar.njk" %}
                </div>
                <!--begin::Main -->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        {{ content | safe }}
                    </div>
                    <!--begin::Footer -->
                    {% include "footer.njk" %}
                </div>
                <!--begin::Aside -->
                {% include "aside.njk" %}
            </div>
        </div>
    </div>
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up"><span class="path1"></span><span class="path2"></span></i>
    </div>

    <script>
        var hostUrl = "{{ '/assets/' }}";
    </script>
    <script src="{{ '/assets/plugins/global/plugins.bundle.js' }}"></script>
    <script src="{{ '/assets/js/scripts.bundle.js' }}"></script>


    {% set scripts = {
        'dashboard': ['/assets/js/custom/widget.js'],
        'trips': [
            '/assets/plugins/custom/datatables/datatables.bundle.js',
            '/assets/js/custom/trips/trips-list.js',
            '/assets/js/custom/trips/trips-export.js'
        ],
        'pin': ['/assets/js/pin/pin.js']
    } %}

    {% if scripts[page.fileSlug] %}
        {% for script in scripts[page.fileSlug] %}
            <script src="{{ script }}"></script>
        {% endfor %}
    {% endif %}
</body>
</html>